* {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}
/* ask about extending the image */
.background-image {
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.behindimagebox {
  padding-top: 30px;
  position: absolute;
  left:0;
  top: 10vh;
  height: 160vh;
  width: 100%;
  background-color: black;
  padding-top: 0;
}

.NameBox {
  background-image: url('images/fade for text.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  height:10vh;
  width:60vh;
}

/* Ask about the automatic placement*/
/* Ask about image movement within a box and out of screen */
.Box1 {
  background-image: url('Data/IT/Lebenslaufcode.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  left:0;
  top: 10vh;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  /* background-color: #555; */
}

.Box1:hover, .Box3:hover, .Box4:hover {
  opacity: 0.3;
  animation: animate-background-1 linear 12s infinite;
}



@keyframes animate-background-1 {
  from {background-position-y: 0px;}
  to {background-position-y: -300px;}
}


.Box2 {
  background-image: url('Data/Drawings/glow.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  position: absolute;
  left:0;
  top: 50vh;
  height: 40vh;
  width: 100%;
  background-color: #444;
}

.Box2:hover {
  opacity: 0.3;
  animation: animate-background-2 linear 8s infinite;
}

@keyframes animate-background-2 {
  from {background-position-y: 0px;}
  to {background-position-y: -300px;}
}

.Box3 {
  background-image: url('Data/Music/mainthemewip.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  position: absolute;
  left:0;
  top: 90vh;
  height: 40vh;
  width: 100%;
  background-color: #333;
}

.Box4 {
  background-image: url('Data/3D Stuff/backroomswip.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  position: absolute;
  left:0;
  top: 130vh;
  height: 40vh;
  width: 100%;
  background-color: #222;
}

.h1name
{
  position: relative;
  float:left;
  width:100%;
  height:40vh;
  top:100%;
  color:white;
  font-size: 8vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  margin: 20px 0px;
  margin-bottom: 0px;
  max-height: 86px;
}


.h1it, .h1art, .h1music, .h1blender{
  margin-top: 12vh;
  text-align: center;
  float:left;
  width:100%;
  height:28vh;
  top:100%;
  color:white;
  font-size: 8vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  margin:20px 0px;
}

p
{
  text-align: center;
  width:100%;
  color:white;
  font-size: 8vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  margin:20px 0px;
}

.IT {
  text-align: center;
  opacity: 0;
}

.IT:hover {
  opacity: 10;
}

.ITsize {
  box-sizing: border-box;
}

.Art {
  text-align: center;
  opacity: 0;
}

.Art:hover {
  opacity: 10;
}

.Artsize {
  box-sizing: border-box;
}

.Music {
  text-align: center;
  opacity: 0;
}

.Music:hover {
  opacity: 10;
}

.Musicsize {
  box-sizing: border-box;
}

.Blender {
  text-align: center;
  opacity: 0;
}

.Blender:hover {
  opacity: 10;
}

.Blendersize {
  box-sizing: border-box;
}

.Aboutme {
  position: absolute;
  left:85vh;
  float:left;
  color:white;
  font-size: 8vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  /* margin :20px 0px; */
  max-height: 86px;
}

.Aboutmeh1 {
  margin-bottom: 0;
}

.resume {
  position: absolute;
  left:145vh;
  float:left;
  color:white;
  font-size: 8vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  /* margin:20px 0px; */
  max-height: 86px;
}

.resumedata {
  text-decoration: none;
}

.resumedatah1 {
  margin-bottom: 0;
}

.Name {
  position:absolute;
  left:0.5vh;
  top: 0.01vh;
  max-height: 86px;
}
