* {
  margin: 0;
   padding: 0;
}

body {
  background-color: black;
}

.background-image {
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: repeat-y;
  height: 200vh;
}

h1
{
  float:left;
  width:100%;
  color:white;
  font-size: 8vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  margin:20px 0px;
}

p
{
  float:left;
  width:100%;
  color:white;
  font-size: 4vh;
  font-family:Calibri, sans-serif;
  letter-spacing:0.4vh;
  text-align: "";
  margin:20px 0px;
}

.Info {
  position: absolute;
  top: 15vh;
  right: 1vh;
}

.InfoP {
  position: absolute;
  top: 75vh;
  left: 1vh;
}

.LebenslaufDiv {
  position: fixed;
}

.Lebenslauf {
  position: absolute;
  /* z-index: -1; */
  top: 17vh;
  left: 5vh;
  background-image: url('../Data/IT/Lebenslaufcode.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: contain;
  height:144.5026178010471vh;
  width:100.52356020942409vh;
}

.Praktikum {
  position: absolute;
  top: 2vh;
  background-image: url('../Data/IT/Pizzabestellung.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: contain;
  height:144.5026178010471vh;
  width:100.52356020942409vh;
  /* margin-left: 30px; */
  /* display: flex; */
  left: 570px;
}

.Titletext {
  position: absolute;
  left:80vh;
  top: 2vh;
}

.popoutwindow1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  visibility: hidden;
  height: 100%;
  margin-top: 0px;
}

.popoutwindow1p {
  position: fixed;
  background-color: rgb(10, 74, 94);
  width: 60%;
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 12px;
  color: white;
}

.itbutton1close {
  font-size: 40px;
  width: 50px;
  height: 50px;
  /* margin-top: 27px; */
  margin-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.popoutwindow1header {
  display: flex;
  margin-top: 0;
}

.popoutwindow1title {
  padding-left: 45px;
  padding-top: 15px;
}



.popoutwindow2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  visibility: hidden;
  height: 100%;
  margin-top: 0px;
}

.popoutwindow2p {
  position: fixed;
  background-color: rgb(10, 74, 94);
  width: 60%;
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 12px;
  color: white;
}

.itbutton2close {
  font-size: 40px;
  width: 50px;
  height: 50px;
  /* margin-top: 27px; */
  margin-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.popoutwindow2header {
  display: flex;
  margin-top: 0;
}

.popoutwindow2title {
  padding-left: 45px;
  padding-top: 15px;
}



#itbutton1 {
  cursor: pointer;
  visibility: visible;
  margin-left: 1100px;
  margin-top: 200px;

  border: none;
  outline: none;
  background: none;
  color: white;

  font-size: 30px;
}

#itbutton2 {
  cursor: pointer;
  visibility: visible;


  margin-top: 220px;
  margin-left: 240px;

  border: none;
  outline: none;
  background: none;
  color: white;

  font-size: 30px;
}

